
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* stilbe dell'header */
header {
  border-bottom: 2px solid #33475b;
  color: #33475b;

}

.top-bar {
  background-color: #F0F8FB;
  height: auto  ;
  border: 1px solid rgb(203, 214, 226);
}
.top-bar  ul {
  display: inline-block;
}
.top-bar  ul li {
  display: inline-block;
}
.top-bar .nav-right {
  float: right;

}
.top-bar .nav-right li {
  padding: 5px;

}
.top-bar .nav-left li {
  border-right: 2px solid rgb(203, 214, 226);
  padding: 10px 20px;

}
.top-bar .nav-left li:last-child {
  border-right: none;

}
.top-bar-nav {
  width: 70%;
  margin:auto;
}

#login-btn {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #ff7a59;
  border-radius: 5%;
  color: #ff7a59;
}
#get-btn {
  background-color: #ff7a59;
  padding: 10px 20px;
  border: px solid #ff7a59;
  border-radius: 5%;
  color: white;
}
/* inizio stile slider */
.slider {
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  margin: 0;
  height: auto;
}


.logo{
    padding: 20px 80px;
}

.main-menu ul {

  float: right;

}

.main-menu ul li {
  display: inline-block;
  padding: 0px 15px;
  font-size: 20px;
  border-right: 1px solid black;
}
.main-menu ul li:last-child {
  border-right: none;
  padding-right: 0;
}
.main-menu {
  width: 70%;
  margin:auto;

}
.slider {
  width: 100%
}
.slider-container {
  width: 70%;
  margin: auto;
}
.slider-headings {
  width: 50%;
  padding: 10% 5%;
}
.slider-headings h1,
.slider-headings p
 {
  padding: 10px 0;
  color: white;
}

/* ho realizzato il pusante con https://www.bestcssbuttongenerator.com/ */
.button-slider {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:25px 75px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button-slider:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.button-slider:active {
	position:relative;
	top:1px;
}

/* inizio style section */
section {
  background: #f5f8fa;
  color: #33475b;


}
.section-top {
  text-align: center;
  padding: 55px;
    width: 60%;
    margin: auto;
}
.section-top img {
  width: 200px;
  height: auto;


}
.center-box {
  width: 60%;
  margin: auto;
  background-color: white;

}

.center-box-left {
  display: inline-block;
  padding: 50px 100px;
  text-align: center;
  width: 40%;

}
.center-box-right {

  padding: 50px 100px;
  width: 60%;
  float: right;

}
.center-box-left img {
  width: 200px;


}



.orange-button {
-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
box-shadow:inset 0px 1px 0px 0px #f7c5c0;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
background-color:#fc8d83;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
border:1px solid #d83526;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:13px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #b23e35;

}
.orange-button:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
background-color:#e4685d;
}
.orange-button:active {
position:relative;
top:1px;
}


.icon {
  color: #ff7a59;
  padding: 1px 10px;
}

.threeboxes {
  width: 60%;
  margin: auto;
  position: relative;
  margin-top: 20px;


}
.threeboxes-element img {
  width: 100px;
}
.threeboxes-element {
  display: inline-block;
  background-color: white;
  width: 30%;
  padding: 25px;
}
